@{
    ViewData["Title"] = "Inicio";
}

<header>
    <h1>Gestor de Tareas</h1>
</header>

<div class="container">
    <h2>Bienvenido a tu gestor de tareas</h2>
    <a class="link" href="/User/login">Login</a>
    <a class="link" href="/Home/verTareas">Ver mis tareas</a>
    <a class="link" href="/Home/nuevaTarea">Crear nueva tarea</a>
    <a class="link" href="/User/logout">Cerrar sesión</a>
</div>
