<form action='@Url.Action("nuevaTrareaGuardar", "Home")'>
    <input type="text" name="titulo">
    <input type="text" name="descripcion">
    <input type="date" name="fecha">
    <input type="int" name="iDUsuario">
</form>