USE [master]
GO
/****** Object:  Database [BaseDatosTP06_REPASO]    Script Date: 5/8/2025 11:53:47 ******/
CREATE DATABASE [BaseDatosTP06_REPASO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaseDatosTP06_REPASO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BaseDatosTP06_REPASO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaseDatosTP06_REPASO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BaseDatosTP06_REPASO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaseDatosTP06_REPASO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaseDatosTP06_REPASO]
GO
/****** Object:  User [alumno]    Script Date: 5/8/2025 11:53:47 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Tareas]    Script Date: 5/8/2025 11:53:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tareas](
	[IDTarea] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Finalizada] [bit] NOT NULL,
	[IDUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Tareas] PRIMARY KEY CLUSTERED 
(
	[IDTarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 5/8/2025 11:53:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IDUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[Foto] [varchar](50) NOT NULL,
	[FechaUltimoLog] [datetime] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tareas] ON 

INSERT [dbo].[Tareas] ([IDTarea], [Titulo], [Descripcion], [Fecha], [Finalizada], [IDUsuario]) VALUES (1, N'Base de datos', N'Crear la base de datos del proyecto', CAST(N'2025-08-05' AS Date), 1, 4)
INSERT [dbo].[Tareas] ([IDTarea], [Titulo], [Descripcion], [Fecha], [Finalizada], [IDUsuario]) VALUES (2, N'Models', N'Terminar los models', CAST(N'2025-08-05' AS Date), 0, 1)
INSERT [dbo].[Tareas] ([IDTarea], [Titulo], [Descripcion], [Fecha], [Finalizada], [IDUsuario]) VALUES (3, N'Controller', N'Terminar el controller', CAST(N'2025-08-05' AS Date), 0, 3)
SET IDENTITY_INSERT [dbo].[Tareas] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IDUsuario], [Nombre], [Apellido], [Username], [Contraseña], [Foto], [FechaUltimoLog]) VALUES (1, N'Matias', N'Wolfus', N'Matiwolfus', N'wolfus123', N'tato.jpg', CAST(N'2025-08-05T11:40:00.000' AS DateTime))
INSERT [dbo].[Usuarios] ([IDUsuario], [Nombre], [Apellido], [Username], [Contraseña], [Foto], [FechaUltimoLog]) VALUES (3, N'Federico', N'Drucker', N'Fededrucker', N'drucker123', N'fede.jpg', CAST(N'2025-08-05T11:41:00.000' AS DateTime))
INSERT [dbo].[Usuarios] ([IDUsuario], [Nombre], [Apellido], [Username], [Contraseña], [Foto], [FechaUltimoLog]) VALUES (4, N'Gaston', N'Daiksel', N'Gastidaiksel', N'daiksel123', N'gasti.jpg', CAST(N'2025-08-05T11:42:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Tareas]  WITH CHECK ADD  CONSTRAINT [FK_Tareas_Usuarios] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([IDUsuario])
GO
ALTER TABLE [dbo].[Tareas] CHECK CONSTRAINT [FK_Tareas_Usuarios]
GO
USE [master]
GO
